.profile-info {
  margin: 20px;
  font-size: 1.2em;
}

.meal-log {
  margin: 20px;
}

ion-card {
  margin-bottom: 10px;
}

ion-card-content {
  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

ion-card-title {
  font-size: 1.5em;
}

ion-list-header {
  font-size: 1.3em;
  margin-top: 20px;
}