<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calories Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="content-details">
          <p>Target Calories: {{ targetCalories }}</p>
          <p>Consumed Calories: {{ consumedCalories }}</p>
          <p>Remaining Calories: {{ remainingCalories }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="circle-card">
      <div class="content-circle">
        <circle-progress
          [percent]="(consumedCalories / targetCalories) * 100"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#3880ff'"
          [innerStrokeColor]="'transparent'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
      </div>
    </ion-card>
  </div>

<div class="add-meal-button">
  <ion-button expand="full" (click)="presentMealModal()">Add Meal</ion-button>
</div>

  <div class="meals-list">
    <ion-list-header>
      <ion-label>Recent Meals</ion-label>
    </ion-list-header>
    
    <ion-card *ngFor="let meal of recentMeals" (click)="addMeal(meal)">
      <ion-card-content>
        <h2>{{ meal.name }}</h2>
        <p>{{ meal.calories }} Calories</p>
        <p>{{ meal.date | date:'short' }}</p>
      </ion-card-content>
    </ion-card>
  </div>   

  <div class="meals-list">
    <ion-list-header>
      <ion-label>Today's Meals</ion-label>
    </ion-list-header>
      
    <ion-card *ngFor="let meal of todaysMeals">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <h2>{{ meal.name }}</h2>
              <p>{{ meal.calories }} Calories</p>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
              <ion-icon name="close-circle-outline" size="large" color="danger" class="remove-icon" (click)="removeMeal(meal)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>  
  
</ion-content>
